
# Server
HOST=0.0.0.0
PORT=1337

# Secrets
APP_KEYS=/QZjzgZbiCdj/e1A13odVA==,lCyaKGE5mjnjIX8bTeNvOg==,gTaW98k4nmJKr5pUQyHekQ==,fdXxLpztSI/6gNnvYj+3Gw==
API_TOKEN_SALT=zXuixXm9TdNZf2M2UpY51A==
ADMIN_JWT_SECRET=cZxs84oMVWK/gPSz2f8CsQ==
TRANSFER_TOKEN_SALT=xma0h4DcqWYLGKcUwN6rLA==
ENCRYPTION_KEY=JO1dhKTnfxJa2NKYB/jp4g==

# Database
DATABASE_CLIENT=mysql
DATABASE_HOST=localhost
DATABASE_PORT=3306
DATABASE_NAME=db_corpu_tour360
DATABASE_USERNAME=root
DATABASE_PASSWORD=
DATABASE_SSL=false
DATABASE_POOL_MIN=2
DATABASE_POOL_MAX=10JWT_SECRET=16NOJ8p5xULxU5GCZBdiAQ==
JWT_SECRET=xYT4YOhWQP6BADk9bQiLjQ==
